body {
  background-color: #eeeeee;
  margin: 0;
}

header {
  overflow: hidden;
  background-color: #f4f4f4;
}

header .menu-icon {
  color: #222831;
  transition: all 200ms ease-in-out;
}
header .menu-icon:hover {
  color: #00adb5;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: #222831;
  font-size: 50px;
}
h2 {
  color: #00adb5;
}
p,
a {
  font-family: "Space Mono", monospace;
  font-size: 20px;
}

main .text-highlight {
  background-color: #393e46;
  color: #eeeeee;
  text-transform: uppercase;
  padding: 2px;
}

main .contactme-button {
  display: inline-block;
  color: white;
  padding: 15px 20px;
  background-color: #222831;
  border-radius: 4px;
  font-size: large;
  font-family: "Space Mono", monospace;
  transition: all 200ms ease-in-out;
  margin-top: 20px;
  text-decoration: none;
}
main .contactme-button:hover {
  background-color: #00adb5;
  color: white;
  cursor: pointer;
}

main .funtionButton {
  font-family: "Space Mono", monospace;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 12px;
  background: transparent;
  padding: 0;
}

main .image {
  float: right;
  max-width: 50%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  padding-top: 20px;
  height: auto;
  width: 100%;
  background-color: #393e46;
  color: #eeeeee;
  font-size: 12px;
}

.footer-text {
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 300px) {
  main h1,
  h2,
  p {
    text-align: center;
  }
  main .contactme-button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  main .image {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
